extends layout

block content
  .form-container
    h2.page-heading login
    form.todo-form(action="/user/login", method="POST")
      input.input(type="text", name="username", placeholder="Username" required)
      input.input(type="password", name="password", placeholder="Password" required)
      button.btn.login(type="submit") Login
      
